    <div class="header">
        <p>Account Details Page</p>
        <button>Logout</button>
    </div>
    <div class="account-info">
        <p>Sreeharsha K A Jois</p>
        <p>Savings Account No: 23239928392983</p>
        <p>Closing Balance: INR 150,000</p>
    </div>
    <div class="transaction-table">
        <table>
            <tr>
                <th>Narration</th>
                <th>Ref Number</th>
                <th>Date</th>
                <th>Withdrawal</th>
                <th>Deposit</th>
                <th>Closing balance</th>
            </tr>
            <tr>
                <td>Maveric Systems Salary</td>
                <td>232321321</td>
                <td>02-05-2022</td>
                <td>-50000</td>
                <td></td>
                <td>150000</td>
            </tr>
            <!-- Add more rows for other transactions -->
        </table>
    </div>
    <div class="footer">
        © Copyright ©2022 Maveric Systems India Pvt Ltd
    </div>