<div class="header">
    <img style="float: left;" src="assets/img/maveric-logo-updated.png"/>
    <h1 style="float: left;position: relative;bottom: 18px;">Maveric Bank App</h1>
    <p>Account Details Page</p>
    <a style="float: right;position: relative;bottom: 35px;color: #214e8f;">Logout</a>
</div>
<div class="account-info">
    <p>{{user.firstName}} {{user.middleName}} {{user.lastName}}</p>
    <p>Savings Account No: {{account.uniqueId}}</p>
    <p>Closing Balance: INR {{balance}}</p>
</div>
<div class="transaction-table">
    <table>
        <tr>
            <th>Narration</th>
            <th>Ref Number</th>
            <th>Date</th>
            <th>Withdrawal</th>
            <th>Deposit</th>
            <th>Closing balance</th>
        </tr>
        <tr *ngFor="let transaction of transactions">
            <td>narration</td>
            <td>{{transaction.uniqueId}}</td>
            <td>{{transaction.createdAt}}</td>
            <td>{{transaction.type=='DEBIT'?transaction.amount:''}}</td>
            <td>{{transaction.type=='CREDIT'?transaction.amount:''}}</td>
            <td>{{balance}}</td>
        </tr>
        <!-- Add more rows for other transactions -->
    </table>
</div>
<div class="footer">
    © Copyright ©2022 Maveric Systems India Pvt Ltd
    <img style="float: left;" src="assets/img/maveric-logo-updated.png"/>
</div>